
## <summary>policy for bitx</summary>


########################################
## <summary>
##	Transition to bitx.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitx_domtrans',`
	gen_require(`
		type bitx_t, bitx_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitx_exec_t, bitx_t)
')


########################################
## <summary>
##	Execute bitx server in the bitx domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitx_initrc_domtrans',`
	gen_require(`
		type bitx_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitx_initrc_exec_t)
')


########################################
## <summary>
##	Search bitx lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitx_search_lib',`
	gen_require(`
		type bitx_var_lib_t;
	')

	allow $1 bitx_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitx lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitx_read_lib_files',`
	gen_require(`
		type bitx_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitx_var_lib_t, bitx_var_lib_t)
')

########################################
## <summary>
##	Manage bitx lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitx_manage_lib_files',`
	gen_require(`
		type bitx_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitx_var_lib_t, bitx_var_lib_t)
')

########################################
## <summary>
##	Manage bitx lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitx_manage_lib_dirs',`
	gen_require(`
		type bitx_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitx_var_lib_t, bitx_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitx environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitx_admin',`
	gen_require(`
		type bitx_t;
		type bitx_initrc_exec_t;
		type bitx_var_lib_t;
	')

	allow $1 bitx_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitx_t)

	bitx_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitx_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitx_var_lib_t)

')

